@page
@model CRUD_DB_View
@{
    ViewData["Title"] = "Data Manager";
}
<h1>@ViewData["Title"]</h1>

<p>Essa pagina será usada para visualizar a data base dos produtos </p>
<p>e onde haverá as interações com o CRUD para modificar e criar produtos.</p>
