@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Implementação do crud e front end ainda não pode ser concluída</p>
    <p>Continuarei a atualizar todos os dias até quinta feira (1 / 02) no meu github)</p>
    <p>Agradeço a oportunidade mesmo que este aplicativo não tenha sido completa antes de dia 30 pois com certeza já estará completo</p>
    <p>Aprendi em todos os momentos dês do primeiro contato com a EveryMind </p>
</div>
